.age-calculator {
  max-width: 800px;
  margin: 50px auto;
  padding: 20px;
  background-color: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: 0;
  border-radius: 8px;

  header {
    text-align: center;
    margin-bottom: 20px;
  }

  header h1 {
    margin-bottom: 10px;
  }

  .time-section {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .row {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }

  .label {
    width: 121px;
    text-align: left;
    margin-right: 10px;
    font-weight: bold;
  }

  .row .label {
    width: 121px;
    text-align: center;
  }

  input[type="number"],
  select {
    width: 60px;
    padding: 5px;
    margin-right: 10px;
  }

  .spacer {
    width: 10px;
  }

  .buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
  }

  button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
  }

  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
  }
}

.date-of-birth {
  display: flex;
  align-items: center;
  justify-content: end;
}

.result-container {
  max-width: 835px;
  margin: auto;
}

.result-container h2 {
  background-color: #4CAF50;
  color: white;
  padding: 10px;
  margin: 0 !important;
}

.result {
  font-size: 16px;
  color: #333;
  background-color: #e0f7e0;
  padding: 10px;
  border: 1px solid #ddd;
  margin-top: 5px;
  margin-bottom: 5px;
}

.result p {
  margin: 5px 0;
}

.error-msg {
  color: #FF0000;
}

.label-row {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  width: 221px !important;
  margin-left: 30px !important;
}

@media (max-width: 768px) {
  .label {
    width: 120px !important;
    text-align: left;
    margin-right: 10px;
    font-weight: bold;
  }

  .row .label {
    width: 120px !important;
    text-align: center;
  }

  .result-container {
    padding: 20px !important;
  }

  .age-calculator {
    margin: 5px !important;
  }
}