.home-page {
    width: 75%;
    padding: 20px;
    margin: auto;
    overflow: auto;
    height: calc(100% - 64px);

    .main-head {
        font-size: 26px;
        font-weight: bold;
        margin: 10px 0;
    }

    .sub-head {
        font-size: 16px;
        margin: 10px 0;
    }

    .duration-time-card {
        width: 40%;
        margin: 5px 0;
        border: solid 1px #bbbbbb;
    }
}

.calculator-head {
    width: 55%;
    height: 25px;
    background: rebeccapurple;
    padding: 10px;
    color: #fff;
}