  <div class="home-page">
    <div class="main-head">
      <h1>Time Duration Calculator</h1>
    </div>
    <div class="sub-head">Use the calculator below to determine the hours, minutes, and seconds between two times. </div>
    <div class="calculator-head flex justify-center align-center">
      Adjust the values and click the "Calculate" button to use the calculator.
    </div>
    <div class="duration-time-card">
      <table>
        <thead>
          <tr>
            <th>Hour</th>
            <th>Minute</th>
            <th>Second</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Start Time</td>
            <td><input type="text"> </td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><select>
                <option>AM</option>
                <option>PM</option>
              </select></td>
            <td>
              Now
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>