<div class="vertical-panel">
    <div class="icon-section" matTooltip="Duration Calculator" (click)="verticalPanelClick('time-duration-calculator')">
        <svg width="64" height="64" viewBox="0 0 64 64" xmlns="http://www.w3.org/2000/svg">
            <circle cx="32" cy="32" r="30" stroke="black" stroke-width="4" fill="none" />
            <rect x="20" y="20" width="24" height="24" stroke="black" stroke-width="4" fill="none" />
            <line x1="32" y1="32" x2="32" y2="50" stroke="black" stroke-width="4" stroke-linecap="round" />
            <line x1="32" y1="32" x2="50" y2="32" stroke="black" stroke-width="4" stroke-linecap="round" />
        </svg>
    </div>
    <div class="icon-section"  matTooltip="Age Calculator" (click)="verticalPanelClick('agecalculator')">
        <svg width="64" height="64" viewBox="0 0 64 64" xmlns="http://www.w3.org/2000/svg">
            <circle cx="32" cy="32" r="30" stroke="black" stroke-width="4" fill="none" />
            <circle cx="32" cy="26" r="10" stroke="black" stroke-width="4" fill="none" />
            <line x1="22" y1="40" x2="42" y2="40" stroke="black" stroke-width="4" stroke-linecap="round" />
            <line x1="26" y1="44" x2="38" y2="44" stroke="black" stroke-width="4" stroke-linecap="round" />
        </svg>
    </div>
    <div class="icon-section"  matTooltip="Time Calculator" (click)="verticalPanelClick('time-calculator')">
        <svg width="64" height="64" viewBox="0 0 64 64" xmlns="http://www.w3.org/2000/svg">
            <circle cx="32" cy="32" r="30" stroke="black" stroke-width="4" fill="none" />
            <line x1="32" y1="32" x2="32" y2="12" stroke="black" stroke-width="4" stroke-linecap="round" />
            <line x1="32" y1="32" x2="44" y2="44" stroke="black" stroke-width="4" stroke-linecap="round" />
        </svg>
    </div>
</div>